{% extends 'base.html' %}
{% load static %}   
{% static "img" as baseUrl %} 

{% block content %}
<!-- <form action="add" method="POST">
        {% csrf_token %}    
    enter 1st number: <input type="text" name="num1"><br>
    enter 2nd number: <input type="text" name="num2"><br>
    <input type="submit">
</form> -->
<div class="container">
        <section>
                <div class="container">
                        <div class="row">
                            {% for c in cat %}
                          <div class="col-sm">
                                <div class="card" style="width: 18rem;">
                                        <img src="{{baseUrl}}/{{c.img}}" class="card-img-top" alt="..." height="200px" width="150px">
                                        <div class="card-body">
                                          <h5 class="card-title">{{c.name}}</h5>
                                          <h5 class="card-title">Rs {{c.price}}</h5>
                                          <p class="card-text">{{c.desc}}</p>
                                          <a href="#" class="btn btn-primary">Add to cart</a>
                                          <a href="#" class="btn btn-success">Buy Now </a>

                                        </div>
                                </div>
                          </div>
                          {% endfor %}
                        </div>  
                          

                        </div>

                      </div>
                
            </section>
            
</div>

{% endblock %}